* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

body {
    background-color: #333; /* Gris oscuro */
    text-align: center;
    font-family: sans-serif;
}

#tablero {
    display: grid;
    grid-template-columns: repeat(5, 0fr);
    grid-gap: 1px;
    margin: 0 auto;
}

.cuadrado {
    width: 40px;
    height: 40px;
    border: 2px solid black;
    text-align: center;
    font-size: 18px;
    background-color: #cccccc6f; /* Gris claro */
    color: black;
}

#title {
    color: #710e0e;
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: #877207;
font-family: 'Montserrat', monospace; /* Cambia 'Montserrat' por el nombre de tu fuente */
  font-size: 3rem; /* Ajusta el tamaño de la letra */
}


#firma {
    color: DarkOrange;
    position: relative;
    bottom: 0px;
    right: 0px;
}
