
* {
    margin: 10px;
    padding: 10px;
    box-sizing: border-box;
}

body {
    background-color: #333; /* Gris oscuro */
    text-align: center;
    font-family: sans-serif;
}

#tablero {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 5px;
    grid-column-gap: 2px
}

.cuadrado {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    font-size: 24px;
    background-color: #ccc; /* Gris claro */
    color: black;
}

#title {
    color: #C70039;
}

#firma {
    color: DarkOrange;
    position: absolute;
    bottom: 10px;
    right: 20px;
}
